/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Dosis:500,600");
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono");
@import url("https://fonts.googleapis.com/css?family=Exo|Indie+Flower");
@media screen and (min-width: 778px) {
  /* line 8, ../sass/_base.scss */
  .pom-btn {
    height: 320px !important;
  }
}
/* line 11, ../sass/_base.scss */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 18, ../sass/_base.scss */
.no-padding {
  padding: 0;
}

/* line 10, ../sass/main.scss */
body {
  background: gray url("../img/ep_naturalwhiter.png") repeat;
  font-family: 'Indie Flower', cursive;
  font-family: 'Exo', sans-serif;
}

/* line 16, ../sass/main.scss */
#cog {
  z-index: 1;
  cursor: pointer;
  font-size: 40px;
  display: block;
  position: absolute;
  top: 30px;
  right: 40px;
  color: gray;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
/* line 26, ../sass/main.scss */
#cog:hover {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 31, ../sass/main.scss */
.show-modal {
  background: rgba(0, 0, 0, 0.3) !important;
}
/* line 33, ../sass/main.scss */
.show-modal .set-container {
  -moz-animation: show-modal 0.3s;
  -webkit-animation: show-modal 0.3s;
  animation: show-modal 0.3s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* line 39, ../sass/main.scss */
.close-modal {
  background: transparent !important;
}
/* line 41, ../sass/main.scss */
.close-modal .set-container {
  -moz-animation: close-modal 0.3s;
  -webkit-animation: close-modal 0.3s;
  animation: close-modal 0.3s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-moz-keyframes show-modal {
  from {
    top: 30%;
    opacity: 0;
  }
  to {
    top: 45%;
    opacity: 1;
    visibility: visible;
  }
}
@-webkit-keyframes show-modal {
  from {
    top: 30%;
    opacity: 0;
  }
  to {
    top: 45%;
    opacity: 1;
    visibility: visible;
  }
}
@keyframes show-modal {
  from {
    top: 30%;
    opacity: 0;
  }
  to {
    top: 45%;
    opacity: 1;
    visibility: visible;
  }
}
@-moz-keyframes close-modal {
  from {
    top: 45%;
    opacity: 1;
    visibility: visible;
  }
  to {
    top: 30%;
    opacity: 0;
    visibility: hidden;
  }
}
@-webkit-keyframes close-modal {
  from {
    top: 45%;
    opacity: 1;
    visibility: visible;
  }
  to {
    top: 30%;
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes close-modal {
  from {
    top: 45%;
    opacity: 1;
    visibility: visible;
  }
  to {
    top: 30%;
    opacity: 0;
    visibility: hidden;
  }
}
/* line 56, ../sass/main.scss */
#modal {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background: transparent;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: 0;
  left: 0;
  z-index: 3;
}
/* line 66, ../sass/main.scss */
#modal .set-container {
  width: 100%;
  top: 45%;
  visibility: hidden;
}
/* line 70, ../sass/main.scss */
#modal .set-container .settings {
  background: #fff;
  max-width: 340px;
  margin: auto;
  padding: 32px;
  position: relative;
}
/* line 76, ../sass/main.scss */
#modal .set-container .settings .close-btn {
  display: block;
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 2em;
  color: gray;
  cursor: pointer;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
/* line 85, ../sass/main.scss */
#modal .set-container .settings .close-btn:hover {
  color: #e2601d;
  -moz-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}
/* line 90, ../sass/main.scss */
#modal .set-container .settings h3 {
  text-align: center;
  margin-bottom: 46px;
}
/* line 94, ../sass/main.scss */
#modal .set-container .settings input {
  display: block;
  font-size: 2em;
  text-align: center;
  outline: none;
  margin-bottom: 42px;
  width: 100%;
  border: none;
  border-bottom: 2px solid lightgray;
}
/* line 104, ../sass/main.scss */
#modal .set-container .settings [class='col-sm-4'] {
  margin-bottom: 8px;
}

/* line 112, ../sass/main.scss */
.pom-container {
  width: 100%;
}

/* line 114, ../sass/main.scss */
#pomodoro {
  max-width: 840px;
  overflow: hidden;
}
/* line 117, ../sass/main.scss */
#pomodoro .radial-progress {
  position: relative;
  width: 268px;
  height: 268px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-animation: app-start-pom 1.2s;
  -webkit-animation: app-start-pom 1.2s;
  animation: app-start-pom 1.2s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  margin: auto;
}
/* line 127, ../sass/main.scss */
#pomodoro .radial-progress .circle .mask, #pomodoro .radial-progress .circle .fill {
  width: 268px;
  height: 268px;
  position: absolute;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}
/* line 135, ../sass/main.scss */
#pomodoro .radial-progress .circle .mask {
  clip: rect(0px, 268px, 268px, 134px);
}
/* line 137, ../sass/main.scss */
#pomodoro .radial-progress .circle .mask .fill {
  clip: rect(0px, 134px, 268px, 0px);
  background-color: #a0e21d;
}
/* line 143, ../sass/main.scss */
#pomodoro .radial-progress #watch {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 260px;
  height: 260px;
  background: #e2c21d;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 16px, rgba(0, 0, 0, 0.05) 0 0 16px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 4px 16px, rgba(0, 0, 0, 0.05) 0 0 16px inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 16px, rgba(0, 0, 0, 0.05) 0 0 16px inset;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}
/* line 156, ../sass/main.scss */
#pomodoro .radial-progress #watch div span {
  font-size: 4.8em;
  font-family: 'Ubuntu Mono', monospace;
}
@-moz-keyframes app-start-pom {
  from {
    top: -150px;
    opacity: 0;
  }
  to {
    top: 4px;
    opacity: 1;
  }
}
@-webkit-keyframes app-start-pom {
  from {
    top: -150px;
    opacity: 0;
  }
  to {
    top: 4px;
    opacity: 1;
  }
}
@keyframes app-start-pom {
  from {
    top: -150px;
    opacity: 0;
  }
  to {
    top: 4px;
    opacity: 1;
  }
}
/* line 169, ../sass/main.scss */
#pomodoro .pom-btn {
  z-index: 1;
  text-align: center;
  position: relative;
  height: 120px;
}
/* line 174, ../sass/main.scss */
#pomodoro .pom-btn button {
  background: none;
  border: solid 1px lightgray;
  outline: none;
  display: block;
  width: 90px;
  height: 90px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 1.9em;
  color: #4d4d4d;
  position: absolute;
  top: 50%;
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -moz-transition: -moz-transform 0.2s;
  -o-transition: -o-transform 0.2s;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 189, ../sass/main.scss */
#pomodoro .pom-btn button:hover {
  -moz-transform: scale(1.2, 1.2) translateY(-45%);
  -ms-transform: scale(1.2, 1.2) translateY(-45%);
  -webkit-transform: scale(1.2, 1.2) translateY(-45%);
  transform: scale(1.2, 1.2) translateY(-45%);
  border: none;
  border-bottom: none !important;
  border-left: none !important;
  border-right: none !important;
}
/* line 197, ../sass/main.scss */
#pomodoro .pom-btn #left-btn {
  right: 0;
  border-bottom: solid 2px #a0e21d;
  border-left: solid 2px #a0e21d;
  -moz-animation: app-start-left-btn 1.2s;
  -webkit-animation: app-start-left-btn 1.2s;
  animation: app-start-left-btn 1.2s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
/* line 203, ../sass/main.scss */
#pomodoro .pom-btn #left-btn:hover {
  background: #a0e21d;
}
/* line 206, ../sass/main.scss */
#pomodoro .pom-btn #left-btn:active {
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 8px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 8px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 8px inset;
}
/* line 210, ../sass/main.scss */
#pomodoro .pom-btn #right-btn {
  left: 0;
  border-bottom: solid 2px #e2601d;
  border-right: solid 2px #e2601d;
  -moz-animation: app-start-right-btn 1.2s;
  -webkit-animation: app-start-right-btn 1.2s;
  animation: app-start-right-btn 1.2s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
/* line 216, ../sass/main.scss */
#pomodoro .pom-btn #right-btn:hover {
  background: #e2601d;
}
/* line 219, ../sass/main.scss */
#pomodoro .pom-btn #right-btn:active {
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 8px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 8px inset;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 8px inset;
}
@-moz-keyframes app-start-left-btn {
  from {
    right: 100px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
@-webkit-keyframes app-start-left-btn {
  from {
    right: 100px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
@keyframes app-start-left-btn {
  from {
    right: 100px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
@-moz-keyframes app-start-right-btn {
  from {
    left: 100px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@-webkit-keyframes app-start-right-btn {
  from {
    left: 100px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
@keyframes app-start-right-btn {
  from {
    left: 100px;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
/* line 235, ../sass/main.scss */
#message {
  color: #fff;
  padding: 8px 16px;
  z-index: 2;
  position: fixed;
  bottom: 3%;
  left: 50%;
  display: none;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 3px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 3px 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 8px;
}
/* line 245, ../sass/main.scss */
#message #m-title {
  font-size: 1.6em;
  text-align: center;
  display: block;
}
/* line 250, ../sass/main.scss */
#message #m-text {
  display: block;
  font-size: 1.2em;
  text-align: center;
}

/* line 258, ../sass/main.scss */
.show-message {
  -moz-animation: show-message 0.4s;
  -webkit-animation: show-message 0.4s;
  animation: show-message 0.4s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* line 263, ../sass/main.scss */
.hide-message {
  -moz-animation: hide-message 1s;
  -webkit-animation: hide-message 1s;
  animation: hide-message 1s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-moz-keyframes show-message {
  from {
    display: none;
    bottom: 0%;
    opacity: 0;
  }
  to {
    display: block !important;
    bottom: 3%;
    opacity: 1;
  }
}
@-webkit-keyframes show-message {
  from {
    display: none;
    bottom: 0%;
    opacity: 0;
  }
  to {
    display: block !important;
    bottom: 3%;
    opacity: 1;
  }
}
@keyframes show-message {
  from {
    display: none;
    bottom: 0%;
    opacity: 0;
  }
  to {
    display: block !important;
    bottom: 3%;
    opacity: 1;
  }
}
@-moz-keyframes hide-message {
  from {
    display: block;
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes hide-message {
  from {
    display: block;
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
@keyframes hide-message {
  from {
    display: block;
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
