@import url('https://fonts.googleapis.com/css?family=Dosis:500,600');

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

@import url('https://fonts.googleapis.com/css?family=Exo|Indie+Flower');

@media screen and (min-width: 778px) {
    .pom-btn { height: 320px !important}
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%,-50%));
}

.no-padding { padding: 0 }
