/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";
@import "variables";
@import "base";

body {
    background: gray url('../img/ep_naturalwhiter.png') repeat;
    font-family: 'Indie Flower', cursive;
    font-family: 'Exo', sans-serif;
}

#cog {
    z-index: 1;
    cursor: pointer;
    font-size: 40px;
    display: block;
    position: absolute;
    top: 30px;
    right: 40px;
    color: gray;
    @include transition(transform .3s);
    &:hover {
        @include transform(rotate(-45deg));
    }
}

.show-modal {
    background: rgba(black, 0.3) !important;
    .set-container {
        @include animation(show-modal .3s);
        @include animation-fill-mode(forwards);
    }
}

.close-modal {
    background: rgba(black, 0) !important;
    .set-container {
        @include animation(close-modal .3s);
        @include animation-fill-mode(forwards);
    }
}

@include keyframes(show-modal) {
    from { top: 30%; @include opacity(0) }
    to { top: 45%; @include opacity(1); visibility: visible }
}
@include keyframes(close-modal) {
    from { top: 45%; @include opacity(1); visibility: visible}
    to {  top: 30%; @include opacity(0); visibility: hidden }
}

#modal {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(black, 0);
    @include transition(0.3s);
    top: 0;
    left: 0;
    z-index: 3;
    .set-container {
        width: 100%;
        top: 45%;
        visibility: hidden;
        .settings {
            background: #fff;
            max-width: 340px;
            margin:auto;
            padding: 32px;
            position: relative;
            .close-btn {
                display: block;
                position: absolute;
                top: 16px;
                right: 16px;
                font-size: 2em;
                color: gray;
                cursor: pointer;
                @include transition(.2s);
                &:hover {
                    color: $red;
                    @include transform(scale(1.3,1.3));
                }
            }
            h3 {
                text-align: center;
                margin-bottom: 46px;
            }
            input {
                display: block;
                font-size: 2em;
                text-align: center;
                outline: none;
                margin-bottom: 42px;
                width: 100%;
                border: none;
                border-bottom: 2px solid lightgray;
            }
            [class='col-sm-4'] {
                margin-bottom: 8px;
            }
        }
    }
}//modal


.pom-container { width: 100% }

#pomodoro {
    max-width: 840px;

    .radial-progress {
        $circle-size: 268px;
        position: relative;
        width: $circle-size;
        height: $circle-size;
        @include border-radius(50%);
        margin: auto;
        .circle {
            .mask, .fill {
                width: $circle-size;
                height: $circle-size;
                position: absolute;
                @include border-radius(50%);
                @include backface-visibility(hidden);
                @include transition(transform 0.4s);
            }
            .mask {
                clip: rect(0px,$circle-size,$circle-size,$circle-size/2);
                .fill {
                    clip: rect(0px, $circle-size/2, $circle-size, 0px);
                    background-color: $green;
                }
            }
        }
        #watch {
            position: absolute;
            top: 4px;
            left: 4px;
            width: 260px;
            height: 260px;
            background: $yellow;
            @include backface-visibility(hidden);
            @include border-radius(50%);
            @include box-shadow(rgba(black, 0.2) 0 4px 16px,
                                rgba(black, 0.05) 0 0 16px inset);
            @include transition(background-color 1s);
            @include animation(app-start-pom 1.2s);
            @include animation-fill-mode(forwards);
            div {
                span {
                    font-size: 4.8em;
                    font-family: 'Ubuntu Mono', monospace;
                }
            }
        }
    }

    @include keyframes(app-start-pom) {
        from { top:-150px; @include opacity(0)}
        to { top: 4px; @include opacity(1)}
    }

    .pom-btn {
        z-index: 1;
        text-align: center;
        position: relative;
        height: 120px;
        button {
            background: none;
            border: solid 1px lightgray;
            outline: none;
            display: block;
            width: 90px;
            height: 90px;
            @include border-radius(50%);
            font-size: 1.9em;
            color: lighten($text-color, 10%);
            position: absolute;
            top: 50%;
            @include transform(translate(0,-50%));
            @include transition(transform .2s);
            @include backface-visibility(hidden);
            &:hover {
                @include transform(scale(1.2,1.2) translateY(-45%));
                border: none;
                border-bottom: none !important;
                border-left: none !important;
                border-right: none !important;
            }
        }
        #left-btn {
            right: 0;
            border-bottom: solid 2px $green;
            border-left: solid 2px $green;
            @include animation(app-start-left-btn 1.2s);
            @include animation-fill-mode(forwards);
            &:hover {
                background: $green;
            }
            &:active {
                @include box-shadow(rgba(black,0.4) 0 2px 8px inset);
            }
        }
        #right-btn {
            left: 0;
            border-bottom: solid 2px $red;
            border-right: solid 2px $red;
            @include animation(app-start-right-btn 1.2s);
            @include animation-fill-mode(forwards);
            &:hover {
                background: $red;
            }
            &:active {
                @include box-shadow(rgba(black,0.4) 0 2px 8px inset);
            }
        }

        @include keyframes(app-start-left-btn) {
            from { right:100px; @include opacity(0) }
            to { right:0; @include opacity(1) }
        }
        @include keyframes(app-start-right-btn) {
            from { left:100px; @include opacity(0) }
            to { left:0; @include opacity(1) }
        }
    }
}//pomodoro

#message {
    color: #fff;
    padding: 8px 16px;
    z-index: 2;
    position: fixed;
    bottom: 3%;
    left: 50%;
    display: none;
    @include transform(translateX(-50%));
    @include box-shadow(rgba(black,0.2) 0 3px 8px);
    #m-title {
        font-size: 1.6em;
        text-align: center;
        display: block;
    }
    #m-text {
        display: block;
        margin-top: 5px;
        font-size: 1.2em;
        text-align: center;
    }

}

.show-message {
    @include animation(show-message .4s);
    @include animation-fill-mode(forwards);
}

.hide-message {
    @include animation(hide-message 1s);
    @include animation-fill-mode(forwards);
}

@include keyframes(show-message) {
    from {
        display: none;
        bottom: 0%;
        @include opacity(0); }
    to {
        display: block !important;
        bottom: 3%;
        @include opacity(1); }
}
@include keyframes(hide-message) {
    from {
        display: block;
        @include opacity(1); }
    to {
        @include opacity(0);
        display: none; }
}
